/*Creating my own CSS Style for the Telefunken ScoreKeeper site*/

/*Styles that apply to the entire page*/
body {
	background-color: #fafafa;
}


/* NAVBAR */

.navbar {
	min-height: 80px;
	margin-bottom: 20px;
}

.navbar-default {
	background-color: rgba(0, 0, 0, 0.5);
	border: none;
}

.navbar-header {
	height: 80px;
}

.navbar-default .navbar-brand {
	color: white;
	font-family: 'Helvetica', sans-serif;
	height: 80px;
}

#telefunkenLogo {
	position: relative;
	top: -5px;
}

.navbar-right {
   height: 80px;
}

.navbar-right > li > a {
   height: 80px;
   line-height: 45px;
}

/*JUMBOTRON*/
.jumbotron {
	background-image: url("../images/jumbotronBackgroundHome.jpg");
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	color: white;
	padding-top: 15%;
	padding-bottom: 15%;
	margin-bottom: 0px;
}

.jumbotron h1 {
	font-family: 'Helvetica', sans-serif;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 15px;
	text-align: center;
	font-size: 410%;
	margin-top: 50px;
}

.jumbotron p {
	font-family: 'Helvetica', sans-serif;
	font-size: 125%;
	text-align: center;
	margin-top: 30px;
}

#jumboButton {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 130%;
	letter-spacing: 2px;
	font-weight: 900;
	background-color: #ff9e1b;
	border: none;
	height: 60px;
	line-height: 42px;
	padding-left: 30px;
	padding-right: 30px;
}

#jumboButton:hover {
	background-color: rgba(255, 158, 27, 0);
	color: #ffffff;
	border: 1px solid #ff9e1b;
}

/* FEATURED LIST */
#ftrdIcnsFluid {
	background-color: #f0f0f0;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}

#ftrdIcnsCont {
	text-align: center;
}

.featuredIcons {
	text-align: center;
}

.featuredIcons img {
	height: 150px;
	margin-bottom: 20px;
	display: inline-block;
}

.featuredIcons p {
	text-transform: uppercase;
	color: #284735;
	font-family: 'Helvetica', sans-serif;
	font-size: 125%;
	margin: 0;
	font-weight: 100;
	letter-spacing: 4px;
}
